*.o
*.pot
*.orig
*.rej
*.bin
cpuplugd/cpuplugd
dasdfmt/dasdfmt
dasdinfo/dasdinfo
dasdview/dasdview
fdasd/fdasd
ip_watcher/xcec-bridge
ipl_tools/chreipl
ipl_tools/chshut
ipl_tools/lsreipl
ipl_tools/lsshut
iucvterm/src/iucvconn
iucvterm/src/iucvtty
iucvterm/test/test_afiucv
mon_tools/mon_fsstatd
mon_tools/mon_procd
qetharp/qetharp
tape390/tape390_crypt
tape390/tape390_display
tunedasd/src/tunedasd
vmcp/vmcp
zdump/zgetdump
zipl/boot/data.h
zipl/src/zipl

